<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>TODO</title>
    </head>
    <body>
        {% include 'DeuzuRequestCollectorBundle:RequestCollector:request.html.twig' %}
    </body>
</html>
