.container {
    padding-top: 15px;
}

.request-method {
    font-weight: bold;
    margin-right: 7px;
}

.reuqest-host {
    font-style: italic;
}

.request-date {
    margin-top: 15px
}

.request-header {
    position: relative;
}

.request-header h2 {
    display: inline;
}

.request-toggle {
    position: absolute;
    right: 0;
    bottom: 0;
}

.request-content {
    margin-top: 15px
}

.tab-content {
    margin-top: 15px;
}
